.employee-card {
  margin: 5rem auto;
  margin-left: auto;
  max-width: 800px;
  text-align: center;
  padding: 50px 0px;
  background-color: #b4b3bd;
  color: black;
}

.employee-input {
  background-color: whitesmoke;
  color: black;
}
