<div class="row">
  <div class="column">
    <mat-card class="mat-elevation-z2" style="margin-top:5rem; text-align:center; width: 380px; height: 380px">
      <p>Meet our employees!</p>
      <img mat-card-image style="height: 270px;" src="../../../assets/img/employees.jpg" alt="Photo of employees">
      <p>Click to show</p>
    </mat-card>
  </div>


  <div class="column">
    <mat-card class="mat-elevation-z8" style="margin-top:5rem; text-align:center; width: 380px; height: 380px">
      <p>Meet our skills!</p>
      <img mat-card-image style="height: 270px; background-color: white" src="../../../assets/img/skills.png" alt="Photo of employees">
      <p>Click to show</p>
    </mat-card>
  </div>
</div>
