p {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.card-container {
  text-align:center;
  width: 380px;
  height: 380px;
  cursor: pointer
}
